* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

header {
    background-color: #271a1a;
    color: white;
    font-style: italic;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    filter: grayscale(100%) brightness(1000%);
}

nav {
    height: 93.7vh;
    width: 200px;
    background-color: #312020;
    padding: 50px;
    position: absolute;
    top: 50px;
    right: 0;
}

nav ul li {
    list-style: none;
    margin-bottom: 80px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}

.introduction {
    display: flex;

}
.intro{
    padding: 30px;
}
.intro h2{
    font-size: 2rem;
    margin-bottom: 29px;
}
.intro ul{
    margin-left: 20px;
}
.intro ul li{
    font-size: 1.2rem;
    margin-bottom: 18px;
}
.intro p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.image img {
    height: 84vh;
    width: 700px;
    object-fit: cover;

}

footer {
    height: 9.2vh;
    background-color: #271a1a;
}

footer .logos {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 10px;
}

footer .logos a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
    margin-top: 2px;
    font-size: 1rem;
    text-align: center;
}